<div class="jumbotron">
  <h1>CardioHelp<sup>®</sup> registry</h1>
</div>

<div id="main" align="left">
  <div style="display:inline-block">
      <img src="../assets/images/cardiohelp.jpg" />
  </div>
  <!-- <div style="display:inline-block">
      <h4><a [routerLink]="['/statistics']" routerLinkActive="router-link-active" >Statistics</a></h4>
      <h4><a [routerLink]="['/listOfRegistries']" routerLinkActive="router-link-active" >Registries</a></h4>
    
  </div> -->
</div>

<!-- <div class="row">

  <div class="col-sm-6">
      <div style="background-image: url(../assets/images/valves02.jpg);
                height: 200px;
                width: 400px;
                border: 1px solid black;
                background-repeat:no-repeat">
      </div>
    
  </div>
  <div class="col-sm-6"></div>

</div>
 -->

<hr />
<footer>
  <p>&copy; 2021 - CardiacSoftwareDevelopers(<a (click)="linkToCSD()">CSD</a>)</p>
</footer>
   