<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-1"
  >
    <div class="container">
     
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
              
       

      
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" > 
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a> 
         </li>
          
          <li class="nav-item"  *ngIf="adminLogged()"> 
            <a class="nav-link text-dark" [routerLink]="['/users']">Users </a> 
          </li> 
          <li class="nav-item"  *ngIf="adminLogged()"> 
            <a class="nav-link text-dark" [routerLink]="['/hospitals']">Hospitals </a> 
          </li> 
          <li class="nav-item"  *ngIf="!adminLogged()"> 
            <a class="nav-link text-dark" [routerLink]="['/about']">About</a> 
          </li>
          <li class="nav-item" *ngIf="!loggedIn()"> 
            <a class="nav-link text-dark" [routerLink]="['/login']">Login</a> 
          </li>
          <li class="nav-item"  *ngIf="loggedIn()"> 
            <a class="nav-link text-dark" (click)="logOut()">Logout</a> 
          </li>



        </ul>



      </div>
    </div>
  </nav>
</header>
