<div>
    <form id="minForm" ngForm>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <h4><span class="badge badge-primary">Enter the email of the buyer</span></h4>
            <div><input type="text" [(ngModel)]="email" name="test" class="form-control"></div>
            <button class="btn btn-warning mt-1" (click)="Cancel()">Cancel</button>
            <button class="btn btn-success mt-1" style="float:right" (click)="FindEntry()">Find</button>
        </div>
    </div>
    <div class="card" *ngIf="buyerFound()">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6"><button class="btn btn-secondary btn-xs mb-1" (click)="showPersonalia()">Personalia</button></div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-6"><button class="btn btn-secondary btn-xs"(click)="showBrief()">Motivatie brief</button></div>
                <div class="col-sm-6"></div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</form>
</div>