
    <form id="minForm" ngForm>
    <div class="card" *ngIf="!buyerFound()">
        <div class="card-header"></div>
        <div class="card-body">
            <h4><span class="badge badge-primary">Enter the email of the buyer</span></h4>
            <div><input type="text" [(ngModel)]="email" name="test" class="form-control"></div>
            <button class="btn btn-warning mt-1" (click)="Cancel()">Cancel</button>
            <button class="btn btn-success mt-1" style="float:right" (click)="FindEntry()">Find</button>
        </div>
    </div>
    <div class="card" *ngIf="buyerFound()">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="Opgaaf personalia">
                        <app-personalia [pe]="opgaaf" ></app-personalia>
                    </tab>
                    <tab heading="Motivatie brief">
                        <app-brief_details [br]="mot" ></app-brief_details>
                    </tab>
    
                </tabset>
    
            </div>


        </div>
        <div class="card-footer"></div>
    </div>
    </form>

