<form ngForm name='help'>
<div class="card">
  <div class="header">
    <span>Opgaaf personalia</span>
    <span style="float:right">Rigter makelaars</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">Koper</div>
          <div class="col-sm-4">Echtgeno(o)t(e)/Partner</div>
        </div>
        <div class="row">
          <div class="col-sm-4">Echtgeno(o)t(e)/Partner</div>
          <div class="col-sm-4">-</div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-6">mede koper</div>
              <div class="col-sm-6"><select [(ngModel)]="per.partner_medekoper" name="dis12" class="form-control">
                <option *ngFor="let an of optionsYN" [value]=an.value>{{ an.description }}</option>
              </select></div>
            </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-4">Achthernaam</div>
          <div class="col-sm-4"><input [(ngModel)]="per.lastname" name="name-01"></div>
          <div class="col-sm-4"><input [(ngModel)]="per.lastname_partner" name="name-02"></div>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>

  </div>
  <div class="card-footer"></div>
</div>
</form>


