
  <div class="card">
    <div class="header mb-1">
      <button class="btn btn-success btn-xs ml-1" (click)="save()" style="float:right">Save</button>
      <button class="btn btn-warning btn-xs ml-1" (click)="cancel()" style="float:right">Cancel</button>

    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">  <div class="card">
          <div class="card-header">
            <h3><span>Koper</span></h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">Achternaam</div>
              <div class="col-sm-6"><input  class="form-control"></div>
            </div>
          </div>
        </div></div>
        <div class="col-sm-6"><div class="card">
          <div class="card-header">
            <h3><span>Echtgeno(o)t(e)/Partner</span></h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">Achternaam</div>
              <div class="col-sm-6"><input class="form-control"></div>
            </div>
          </div>
        </div></div>
       
      </div>

      <div class="row">
        <div class="col-sm-6"><div class="card">
          <div class="card-header">
            <h3><span>Overig</span></h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-8">Echtgeno(o)t(e)/Partner is mede koper:</div>
                  <div class="col-sm-4"><select   class="form-control">
                      <option *ngFor="let an of optionsYN" [value]=an.value>{{ an.description }}</option>
                    </select></div>
                </div>
              </div>
            </div>
          </div>
        </div></div>
        <div class="col-sm-6"></div>
      </div>







    
    </div>

    <div class="card-footer"></div>
  </div>
