<div>
  <div class="card">
    <div class="card-header">
      
      <button 
      class="btn btn-success btn-xs ml-1" 
      (click)="savePrint()" style="float:right">Save and Print</button>
      <button 
      class="btn btn-warning btn-xs ml-1" 
      (click)="cancel()" style="float:right">Cancel</button>
      <button *ngIf="showIfRoleIsMakelaar()" 
      class="btn btn-warning btn-xs" 
      (click)="removeKoper()" style="float:right">removeKoper</button>
    </div>
    <div class="card-body">
      <div class="row">
       
        <div class="col-sm-6">
          <div *ngIf="!showPhotoEditor()">
          <div class="row">
            <div class="col-sm-12">
              <img src={{br.photoUrl}} height="100%" width="100%">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"><button 
              class="btn btn-success btn-xs mt-1 mb-1" 
              (click)="uploadPicture()" style="float:right">Upload another picture</button></div>
          </div>
        </div>
        <div *ngIf="showPhotoEditor()">
          <app-photoeditor [userId]="br.id" (getMemberPhotoChange)="updatePhoto($event)"></app-photoeditor>
         
        </div>
          


        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control mb-2" [(ngModel)]="br.line_1" name="text-1">
            </div>
          </div><div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control mb-2" [(ngModel)]="br.line_2"  name="text-2">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control mb-2" [(ngModel)]="br.line_3"  name="text-3">
            </div>
          </div><div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control mb-2" [(ngModel)]="br.line_4" name="text-4">
            </div>
          </div>


        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <input type="text" class="form-control mb-2" [(ngModel)]="br.line_5" name="text-5">
        </div>
        </div>
        <div class="row">
        <div class="col-sm-12">
          <input type="text" class="form-control mb-2" [(ngModel)]="br.line_6" name="text-6">
        </div>
      </div>
    </div>
  </div>
</div>
