<div>
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
      <div class="row">
       
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <img src="../../assets/images/IMG_0862.JPG" height="25%" width="25%">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"><button class="btn btn-default btn-xs" (click)="uploadPicture">Upload</button></div>
          </div>
          
          


        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control mb-2" [(ngModel)]="binding">
            </div>
          </div><div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control mb-2" [(ngModel)]="binding">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control mb-2" [(ngModel)]="binding">
            </div>
          </div><div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control mb-2" [(ngModel)]="binding">
            </div>
          </div>


        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <input type="text" class="form-control mb-2" [(ngModel)]="binding">
        </div>
        <div class="col-sm-12">
          <input type="text" class="form-control mb-2" >
        </div>
      </div>
    </div>
  </div>
</div>
